# Backup files
Backup/
backup/
*.bak*
*_trash

# Temporary files
*.tmp
*.dat
test*.*
result.json
detail.json
notice.json

# Secret files
*.env
.secret
*.database
*.db
*.sqlite
*.sqlite3

# Shortcut link files
*.lnk
*.url

# Builded files
Build/
build/
*.exe
*.msi
*.jar

#
*_nameTomd5*
